
* {
    box-sizing: border-box;
}

:root {
    --header-height: 80px;
    --footer-height: 20px;
    --main-height: calc(100vh - var(--header-height) - var(--footer-height));
}

body {
    display: grid;
    grid-template-rows: var(--header-height) auto var(--footer-height);
    height: 100vh;
    margin: 0;
    gap: 0;
}

header {
    padding: 10px;
}

section.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px 5px 10px 5px;
}

section.header div {
    width: 100%;
    max-width: 600px;
    padding: 5px;
}

main {
    padding: 10px;
}

section.main,
section.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px 10px 5px;
}

section.main div,
section.form form {
    width: 100%;
    max-width: 600px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: small;
    padding-right: 5px;
}